<div class="container-fluid registration-container">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Atualize seus dados</h5>
      <div class="col form-group login-form-container">
        <div class="login-form">
          <form [formGroup]="registrationFormGroup" (ngSubmit)="onSubmit()">
            <hr />
            <div class="form-row">
              <div class="col">
                <label for="cpf">CPF *</label>
                <input id="cpf" type="text" formControlName="cpf" class="form-control" placeholder="___.___.___-__">
              </div>
              <div class="col">
                <label for="name">Nome</label>
                <input id="name" type="text" formControlName="name" class="form-control" />
              </div>
              <div class="col">
                <label for="description">Descrição</label>
                <input id="description" type="text" formControlName="description" class="form-control" />
              </div>
            </div>

            <hr />
            <div class="form-row" formGroupName="address">
              <div class="col">
                <label for="street">Endereço *</label>
                <input id="street" type="text" formControlName="street" class="form-control" />
              </div>
              <div class="col">
                <label for="addressType">Tipo</label>
                <select id="addressType" formControlName="type" class="form-control">
                  <option *ngFor="let type of addressTypes; let i = index" [attr.value]="type"
                    [attr.selected]="i == 0 ? true : null">{{type}}</option>
                </select>
              </div>
            </div>

            <hr />
            <div class="form-row" formGroupName="phone">
              <div class="col">
                <label for="mobile">Celular</label>
                <input id="mobile" type="tel" formControlName="mobile" class="form-control"
                  placeholder="__ _____-____" />
              </div>
              <div class="col">
                <label for="home">Telefone residencial</label>
                <input id="home" type="tel" formControlName="home" class="form-control" placeholder="__ ____-____" />
              </div>
              <div class="col">
                <label for="work">Telefone comercial</label>
                <input id="work" type="tel" formControlName="work" class="form-control" placeholder="__ ____-____" />
              </div>
            </div>

            <hr />
            <div class="form-row">
              <div class="col">
                <button type="submit" class="btn btn-primary" [disabled]="!registrationFormGroup.valid">Enviar</button>
                <button type="reset" (click)="clearFormCallback()"
                  class="btn btn-secondary form-button-margin">Limpar</button>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="form-row">
        <span>* Campos obrigatórios</span>
        <div class="w-100">
          <div class="alert alert-success" role="alert" *ngIf="showSuccess">
            Informações enviadas com sucesso.
          </div>
          <div class="alert alert-danger" role="alert" *ngIf="showFailure">
            Ocorreu um erro ao salvar as informações.
          </div>
          <div class="alert alert-secondary" role="alert" *ngIf="showClearInfo">
            Formulário limpo.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
